:root {
  font-size: 62.5%;

  /* Color Scheme */
  --PRIMARY: #262626;
  --SECONDARY: #D9D9D9;
  --ACCENT: #D9A404;
  --SUPPLEMENTARY: #593636;

  /* SIZES */
  --SMALL: 1.2em;
  --MEDIUM: 1.6em;
  --LARGE: 2.4em;
  --XL: 3.2em;
}